<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- saved from url=(0064)http://web.archive.org/web/20090609233357/http://infucktown.com/ -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="language" content="en" />
    <title>In Fucktown</title>
    <link href="{{ app.request.hostname }}/feed" rel="alternate" type="application/rss+xml" title="INFUCKTOWN rss feed" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection" />
</head>
<body>
<div id="mast">
    <h1>Welcome to Fucktown</h1>
    <p>Holy shit dude.</p>
</div>

<div id="content">
    {% if message %}
        <div class="message">
            <p>{{ message }}</p>
        </div>
    {% endif %}

    {% block content %}{% endblock %}
</div>
<div id="footer">
    <a href="https://github.com/robzienert/InFucktown">GitHub</a>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    $('#add a').click( function() {
        $('#add_form').slideToggle();
        return false;
    });

    $('#verb').change( function() {
        if( $(this).val() == ($(this).children().length-1) ) {
            $('#custom_verb').show();
            $('#cancel_custom').show();
            $(this).hide();
        }
    });

    $('#cancel_custom').click( function() {
        $('#verb').show();
        $('#verb').val(0)
        $('#custom_verb').hide();
        $('#custom_verb').val("");
        $(this).hide();
        return false;
    });
});
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23923736-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body></html>